body {
	background-color:#FFF8E7;
}

li {
	padding: 10;
  	margin: auto;
}

ul {
	border-style: solid;
  	margin-left: 25%;
  	margin-right:40%;
  	background-color:#D0F8E7;
}

h1 {
	text-align:center;
}
